
$color_letra: #0b70b8;
$color_fondo_Logo: rgb(0, 152, 218);
$color_fondo: rgb(255, 255, 255);
$color_fondo__formulario_soporte: #eaeaea;
$color_fondoformulario_usuario: rgb(0, 152, 218);
$color_fondo_blanco: #ffffff;
$color_title__principal: #333;
$color_title__secundary: #333;
$color_title__sub-Secundary: #333;

