* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  position: relative;
  max-width: 2000px;
  margin: 0 auto;
}

.logo {
  background-color: $color_fondo_Logo;
  width: 100%;
}

.title_registro {
  color: $color_letra;
  font-size: 30px;
}
.cuerpo {
  background-color: $color_fondo__formulario_soporte;
}
.container__registro {
  .customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-spacing: 0;
    width: 100%;
    border-radius: 6px 6px 0 0;

    td {
      padding: 8px;
      text-align: center;
      background-color: $color_fondo_blanco;
      .cabecera {
        padding: 8px;
        text-align: center;
      }
    }
  }
}
footer {
  background-color: $color_fondo_Logo;
}

.page_cake {
  background-color: $color_fondo_Logo;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
  p {
    color: white;
    height: 20%;
  }
}

.cabecera:nth-child(even) {
  background-color: #f2f2f2;
}

.cabecera:hover {
  background: #e2e7e9;
  transition: all 0.1s ease-in-out;
}

.cabecera {
  background: $color_fondo_Logo;
}

th:first-child {
  border-radius: 6px 0 0 0;
}

th:last-child {
  border-radius: 0 6px 0 0;
}

th:only-child {
  border-radius: 6px 6px 0 0;
}
.customers th {
  color: rgb(255, 255, 255);
}
.dataTables_filter {
  color: rgb(49, 45, 45);
}

//- tablas responsive-//

@media (max-width: 800px) {
  html {
    .cuerpo {
      .logo {
        background-color: $color_fondo_Logo;
        width: 100%;
        .logo__img {
          width: 100%;
          padding: 15px;
        }
      }
      .title_registro {
        margin: 20px 0;
        text-align: center;
      }
      footer {
        width: 100%;
      }
    }
  }

  //cabecera

  .customers {
    border: 0px;
    width: 100%;

    thead {
      display: none;
    }
  }

  .customers td[data-titulo] {
    display: flex;
  }
  .customers td[data-titulo]::before {
    content: attr(data-titulo);
    width: 80px;
    color: rgb(34, 34, 34);
    font-weight: bold;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }

  .customers .cabecera {
    margin-bottom: 8px;
    border-bottom: 4px solid #ddd;
    display: block;
  }
  .customers .cabecera,
  .customers td {
    font-size: 12px;
  }

  .customers td {
    display: block;
    border-bottom: 1px solid #ddd;
    text-align: right;
  }
}
