.input-control input select option {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 12px;
  padding: 10px;
  width: 100%;
}

.input-control input:focus {
  outline: 0;
}
.input-control option:focus {
  outline: 0;
}
.input-control.success input select option {
  border-color: #09c372;
}

.input-control.error input select option {
  border-color: #ff3860;
}

.input-control .error select option {
  color: #ff3860;
  font-size: 9px;
  height: 13px;
}
